/* CSS 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover{
    cursor: pointer;
    opacity: 0.5;
}

div{
    display: flex;
}

ol,
ul {
    list-style: none;
}
/* CSS 초기화 END */
.container
{
  width: 1300px;
  margin: 0 auto;
}

.mainLogo{
    font-family: 'Pathway Gothic One', sans-serif;
    color: black;
    margin: 60px 0 0 0;
    font-size: 50px;
}

.baseRow{
    display: flex;
    width: 100%;
    /* background-color: bisque; */
}

.flexCenter{
    justify-content: center;
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.header{
    margin-top: 60px;
    justify-content: space-between;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 0 0 1.5px 0;
    border-bottom-color: black;
}

.headerBtn{
    padding: 0 13px;
}

.headerMenuBtn{
    padding: 0 24px 0 13px;
}

.cartWrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerText{
    color: black;
    font-size: 14px;
}

.header .cartCount{
    padding: 3px 6px;
    background-color: black;
    color: white;
    font-size: 10px;
    margin-left: 2px;
    border-radius: 3px;
}

.subTitle{
    font-size: 35px;
    font-weight: lighter;
}

.subTitleText{
    font-size: 20px;
    font-weight: lighter;
}

.subMenuBtn{
    padding: 10px 24px;
}

.subMenuText{
    font-size: 18px;
}

.menuItemWb{
    width:310px;
    height:auto;
    margin: 20px 10px 0 10px;
}

.menuItemWb:nth-child(1){
    margin-left: 0;
}

.menuItemWb:nth-child(4){
    margin-right: 0;
}

.menuItemWb:nth-child(5){
    margin-left: 0;
}

.menuItemWb:nth-child(8){
    margin-right: 0;
}

.menuItemBest{
    width:420px;
    height:auto;
    margin: 20px 10px 0 10px;
}

.menuItemBest:nth-child(1){
    margin-left: 0;
}

.menuItemBest:nth-child(3){
    margin-right: 0;
}

.menuItemBest:nth-child(4){
    margin-left: 0;
}

.menuItemBest:nth-child(6){
    margin-right: 0;
}

.menuItemPopular{
    width:200px;
    height:auto;
    margin: 20px 10px 0 10px;
}

.menuItemPopular:first-child{
    margin-left: 0;
}

.menuItemPopular:last-child{
    margin-right: 0;
}

.popularIndicator{
    width: 18px;
    height: 4px;
    margin: 0 3px;
    background-color: lightgray;
}

.popularIndicator:hover{
    background-color: black;
}